html {overflow-x: hidden;
  background: #ffffff;
}

body {    margin: auto;
position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 10px;

}

.layout {
  max-width: 100%;
    margin:auto;
  padding-top: 2%;
    padding-bottom: 20pt;
}

a {
  text-decoration: none;
  color: black;
    font-weight: 340;
}

h1 {hanging-punctuation: force-end;
  font-weight: 300;
  letter-spacing: 0.7;
    font-size: 10px;
     
}
.header{justify-content: center;
    
    margin: auto;
    z-index:14;
        width:80%;
    position:fixed;
}




 
h2 { z-index:10;
margin:auto;
      position:fixed;
    width:100%;
    color:black;
  font-weight: 700;
  letter-spacing: 0.7;
  text-align: left;
    
    padding-top:10pt;
    padding-left: 3%;
        padding-bottom:10pt;
}

h3 {
  font-weight: 300;
  letter-spacing: 0.7;
    font-size: 10px;
text-align: right;}

h4{font-weight: 300;
    padding:25% 0;
  text-align: center;
}

.container11 {
    z-index:1;
    margin-left:20%;
    max-width: 68%;
    justify-items: center;
  display: grid;
    padding-top: 100px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
    padding-bottom: 20pt;
}

        

.explain{display:grid;
justify-content: flex-start;
  grid-template-columns: 60%;
}



.wrapper2:hover span {
  opacity: 100%;
  transition: opacity 0.2s ease-in;
}

.wrapper2:hover img {
    filter: grayscale(0%);
  opacity: 100%;
  transition: filter 0.2s ease-in;
}

.images{margin-left:20%;
    width: 68%;
     justify-items: center;
  display: grid;
     grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-row-gap: 40px;
    padding-bottom: 30pt;
}


    
}
.img {
     filter: grayscale(100%);
  width: 100%;
  outline: 1px solid black;
  outline-offset: 4px;
}

.img2 {
  width:100%;
}
.frame6{justify-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
    
}
.frame{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}

.frame2{
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}
.frame3{
   display: none !important;
}

.frame4{ display: none !important;
}
.text1{margin-left:7%;
    text-align: center;
    color:black;
    padding-top:30pt;
    padding-bottom: 20pt;
}


.frame5{justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
}





@media (max-width: 800px) {
    
    
 h4{font-weight: 300;
     padding:0;
     text-align: center;}
    
    
    
    
.frame{
   display: none !important;
}

.frame2{ display: none !important;
}


    .frame3{display: block !important;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 5%;
}

.frame4{display: block !important;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 1%;
}
    
    
.container11 {
  grid-template-columns:100% ;
     margin:auto;
}
    .layout{
        padding-top: 25pt;
    }
.header{
 
    margin: auto;
    z-index:14;
        width:30%;
    position:absolute;
    }
    
    .kozep{
        justify-content: center;
        
    } 
    
    
    h2 {
        margin:0 auto;
        position: absolute;
    color:black;
  font-weight: 700;
  letter-spacing: 0.7;
  text-align: center;
        font-size: 8pt
}
    .explain{display:grid;
justify-content: flex-start;
  grid-template-columns: 68%;
}
    
    .images{margin: auto;
    width: 68%;
     justify-items: center;
  display: grid;
     grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    padding-bottom: 5pt;
}
    
    
    }
    
    
    
 




